body {
    background-color: cornsilk;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    height: 400px;
    width: 400px;
    border: 3px solid black;
}

#controls {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

#howTo {
    flex: 1;
}

#howTo > ol {
    padding: 1em;
}

#solver {
    display: flex;
    flex-direction: column;
}

#solver > * {
    margin-top: 10px;
    height: 1.3rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

form > * {
    margin-top: 10px;
    height: 1.3rem;
}

